/* scss defaults */

// aarhus university colours
$au-colour-blue: #003d73;
$au-colour-dark-blue: #002546;
$au-colour-purple: #655a9f;
$au-colour-dark-purple: #281c41;
$au-colour-cyan: #37a0cb;
$au-colour-dark-cyan: #003e5c;
$au-colour-turquoise: #00aba4;
$au-colour-dark-turquoise: #004543;
$au-colour-green: #8bad3f;
$au-colour-dark-green: #425821;
$au-colour-yellow: #fabb00;
$au-colour-dark-yellow: #634b03;
$au-colour-orange: #ee7f00;
$au-colour-dark-orange: #5f3408;
$au-colour-red: #e2001a;
$au-colour-dark-red: #5b0c0c;
$au-colour-magenta: #e2007a;
$au-colour-dark-magenta: #5f0030;
$au-colour-grey: #878787;
$au-colour-dark-grey: #4b4b4b;
$au-colour-black: #000000;

// aarhus university primary colour
$au-colour-primary: $au-colour-blue;
